<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/submit" method="post">
    Your Name: <input type="text" name="name" value=""><br>
    Dojo Location:
      <select name="location">
        <option value="San Jose">San Jose</option>
        <option value="San Francisco">San Francisco</option>
        <option value="Santa Cruz">Santa Cruz</option>
      </select><br>
      Favorite Languages:
      <select name="languages">
        <option value="English">English</option>
        <option value="Hebrew">Hebrew</option>
        <option value="Romanian">Romanian</option>
      </select><br>
      Comment: <br> <textarea name="comment" rows="8" cols="80"></textarea>
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
