<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Color</title>
  </head>
  <body>""
      {% if ninja_color == 'blue' %}
    	<img src="{{ url_for('static',filename=image) }}" alt="Leonardo">
      {% elif ninja_color == 'purple' %}
        <img src="{{ url_for('static',filename=image) }}" alt="Donatello">
      {% elif ninja_color == 'red' %}
        <img src="{{ url_for('static',filename=image) }}" alt="Raphael">
      {% elif ninja_color == 'orange' %}
        <img src="{{ url_for('static',filename=image) }}" alt="Michaelangelo">
      {% elif ninja_color == 'black' %}
      <img src="{{ url_for('static',filename=image) }}" alt="No April">
      {% else %}
      <img src="{{ url_for('static',filename=image) }}" alt="tmnt">
      {% endif %}
  </body>
</html>
